$border-color: #4e536d;
$text-gray: #bfbfbf;
$blue: #476eef;

.home {
    height: 100%;
}

.theme-toggler {
    .label {
        background-color: #6ab9d6;
        transition: background-color 0.4s ease-in-out;

        .fa-sun {
            color: #ffd073;
        }
    }
}

// Black theme
.home--dark {
    background-color: #3f4361;
    transition: background-color 0.4s ease-in-out;

    & > * {
        background-color: #292c43 !important;
        transition: background-color 0.4s ease-in-out;
    }

    .chat {
        &__sidebar {
            border-right-color: $border-color;

            &-header {
                border-bottom-color: $border-color;

                i,
                span {
                    color: $text-gray;
                }

                .ant-btn {
                    i {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            &-footer {
                border-top-color: $border-color;

                .theme-toggler {
                    .label {
                        background-color: #111;
                    }
                }
            }

            * > i {
                path {
                    fill: $text-gray;
                }
            }

            .dialogs {
                & > * > * {
                    color: $text-gray;
                }

                input {
                    background-color: #2f334d;
                }

                &__item {
                    &--selected {
                        background-color: $blue;
                    }

                    &-info-top {
                        b {
                            color: #fff !important;
                        }
                    }

                    &:hover {
                        background-color: $blue;
                    }
                }
            }
        }

        .ant-empty-description {
            color: $text-gray;
        }

        &__dialog-header {
            border-bottom-color: $border-color;

            &-username {
                color: #fff;
            }

            &-action {
                i {
                    path {
                        fill: $text-gray;
                    }
                }
            }
        }

        &__dialog-messages {
            .message {
                &__bubble {
                    background-color: $blue;
                }

                .message__created-at {
                    color: #fff;
                }

                &--isme {
                    .message__icon-actions {
                        i {
                            path {
                                fill: #fff;
                            }
                        }
                    }

                    .message__bubble {
                        border-color: #2f334d;
                        background-color: #2f334d;

                        .message__text {
                            color: #fff;
                        }
                    }
                }
            }
        }

        &__dialog-input {
            .chat-input {
                i {
                    path {
                        fill: #fff;
                    }
                }

                .ant-input {
                    background-color: #2f334d;
                    color: #fff;
                    border-color: $blue;
                }
            }
        }
    }
}
